#loading-spinner{
    position: absolute;
    top: 40%;
    left: 45% ;
}

.loading-spinner_text{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
    margin-left: 5px;
}