.login-input-info{
    bottom: 283%;
    left: 90%;
    width: 70%;
    height: fit-content;
    font-size: 100% !important;
    font-weight: bold !important;
    color: #042c54;
    position: relative;
    text-align: left;
}


.invalid-creds-error{
    margin: 0;
}
@media screen and (max-width: 1500px) {
    .login-input-info{
        bottom: 340%;
        font-size: 90% !important;
        font-weight: bold !important;
    }
}